@import "../node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "../node_modules/bourbon-neat/app/assets/stylesheets/neat";

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }

  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }

  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }

  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

body {
  background: #96A8C8;
  font-family: Lucida, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-variant: small-caps;
}

.content {
  @include outer-container;
  background: #FFFFFF;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.intro {
  margin-bottom: 40px;

  @include breakpoint(sm) {
    @include span-columns(6);
  }
}

.preview {
  @include breakpoint(sm) {
    @include span-columns(6);
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

img {
  max-width: 100%;
}

.footer {
  @include outer-container;
  text-align: right;
}