{% extends "layout.html" %}

{% block content %}
    <h1>Privacy Policy</h1>

    <p>The purpose of the XKCDBot service is to provide Slack users with a quick and easy way to include relevant XKCD comics in their conversations.</p>
    <p>We respond to (and cache) commands sent via the /xkcd command in Slack. The information is stored without any identifiable information about the user or team from which the command originated.</p>
    <p>We do not collect any email addresses or other personally identifiable information.</p>
    <p>By adding XKCDBot to your Slack team, you acknowledge that you understand that we do not directly control the actions or searches conducted by you or your team. XKCDBot is an automated service which provides limited automatic filtering only. You agree that the creator of XKCDBot cannot be held responsible for the content returned by this service or for the usage of individuals in your team.</p>
    <p>If you have any questions or comments, please contact us directly at: <a href="mailto:support@xkcdbot.com">support@xkcdbot.com</a></p>
{% endblock %}